
/* CSS Document */


body {
	background-color:#232629;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#fff;
	
}

a {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#12806b;
	text-decoration:none;
	line-height:24px;
	
	display:block;
}

a:hover {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#fff;
	text-decoration:none;

}

.wave{
	margin:0 auto;
	text-align:center;
}
	
	
	



h1 {
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	font-weight:300;
	color:#fff;
	border-bottom:2px solid #fff;
}

h2{
	font-family: 'Raleway', sans-serif;
	background-color:#169c83;
	font-size:18px;
	color:#fff;
	padding:15px;
	font-weight:300;
	
}
	

article{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	font-weight:300;
	
}
	

#wrapper {
	
	width:800px;
	height:auto;
	margin: 100px auto 100px auto;
	border-radius:10px;
	
	
}

header{
	background-color:#397edb;
	height:600px;
	padding: 15px 25px 15px 25px;
	margin-bottom:35px;
	border-radius:5px;
	
}

.description {
	padding:0 0 10px 15px;
}

.link-section{
	padding:0 0 10px 45px;
}
	


.project-section{
	width:720px;
	height:150px;
	background-color:#1ab99b;
	margin:0 auto 35px auto;
	border-radius:4px;
	
}
	
	
